/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@plugin "daisyui";

@theme {
  --color-my-primary: #0a2540;
  --color-my-secondary: #0048e5;
  --color-my-tertiary: #f4f7fa;
  --color-my-neutral: #425466;
}

body {
  font-family: 'Inter', sans-serif;
}

.icon-filled {
  font-variation-settings: 'FILL' 1;
}
